.comment{
    margin-left: 34px;
}

.comment-user{
    display: flex;
    flex-direction: row
}
.comment-user h6{
    margin: 5px;
}
.comment-user img{
    width:4%;
}


.text-small{
    font-size: 10px !important;
    margin-top: 6px;
}